// compass settings
$mysprite-layout:smart;

// base
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 13px;
$base-bgcolor: #fff;

// colors
$white: #fff;
$black: #000;

// grid size
$grid-1024: