// responsive breakpoints
@mixin responsive-to($breakpoint) {
  @if $breakpoint == "small" {
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      @content;
    }
  }
 
  @else if $breakpoint == "medium" {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      @content;
    }
  }
 
  @else if $breakpoint == "large" {
    @media only screen and (min-width : 1224px) {
      @content;
    }
  }
}
// fonts
@mixin fonts($name, $file) {
  @include font-face($name, font-files(
    "#{$file}-webfont.eot", 
    "#{$file}-webfont.ttf", 
    "#{$file}-webfont.woff", 
    "#{$file}-webfont.svg")
  )
}

// get sprite sizes
@mixin sprite-sizes($item) {
  height: my-sprite-sprite-height($item);
  width: my-sprite-sprite-width($item);
}

// image replacement
@mixin img-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

// clearfix hack
@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden; 
  }
  &:after {
    clear: both;
  }
}

// convert px to em
@function em($px, $base: 13px) {
  @return ($px / $base) * 1em;
}
